<% layout('layouts/broilerplate') %>

<div class="container mt-5" style="min-height: 70vh;">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4 text-danger">Error <%= status %></h1>
      <p class="lead"><%= message %></p>
      <a href="/" class="btn btn-danger mt-3">Go to Home</a>
    </div>
  </div>
</div>
