body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Footer */

.f-info-links a {
  color: #222222;
  text-decoration: none;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  display: flex;
  height: 8rem;
  background: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.f-info-socials i {
  color: #222222;
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info-socials a {
  text-decoration: none;
}

/* Cards */

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.listing {
  height: 305px !important;
  border: none;
  margin-bottom: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2rem !important;
  width: 18rem;
  background-color: #f8f9fa;
  transition: all 0.3s ease;
}

.listing:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: 2rem !important;
  border-top-right-radius: 2rem !important;
  object-fit: cover;
}
.card-body {
  padding: 1rem;
}
.card-text p {
  font-family: "Roboto", sans-serif;
  color: #555555;  
}


/* New Form */

.new-form {
  display: flex;
  flex-direction: column;
}
.new-heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* Reviews */

.review-form {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}
.rating input {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  transform: scale(1.5);
  color: #ffcc00;
  cursor: pointer;
}

.review-form h4 {
  margin-bottom: 1rem;
  text-align: center;
}
.review-list {
  margin-top: 2rem;
}
.review-list li {
  margin-bottom: 1rem;
}
.review-list li strong {
  color: #000000;
}
.review-list li {
  display: flex;
  background: #ffffff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
  justify-content: space-between;
  align-items: center;
}
.review-list li:hover {
  background: #f1f1f1;
}
 #filters {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0 2.7rem 1.5rem 2.7rem;
    padding: 0.6rem 0;
    border-bottom: 1px solid #ddd;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.8;
    border-radius: 0.8rem;
    min-width: 65px;
  }

  .filter:hover {
    opacity: 1;
    background: #f7f7f7;
    transform: translateY(-2px);
  }
  .filter i {
    font-size: 1.3rem;
  }
  .filter p {
    margin-top: 0.3rem;
    font-size: 0.85rem;
    font-weight: 550;
    white-space: nowrap;
  }
  .tax-toggle {
    height: 100%;
    border: 1px solid #bbb;
    border-radius: 1rem;
    padding: 0.3rem 0.8rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    box-shadow: rgba(0,0,0,0.05) 0px 4px 8px;
  }